.expo/
.expo-export-test/
.expo-export-test-android/
.deploy-pages/
.github-device.json
.github-token.sec
github-login*.log
node_modules/
.vscode/
.env
.env.local
.env.*.local
expo-*.log
supabase/.temp/
